
<div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Web Development</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Sobre mi</a>
          <a class="nav-link" routerLink="/carrousel">Proyectos</a>
          <a class="nav-link" routerLink="/experiencias">Experiencia Laboral</a>
          <a class="nav-link">Contacto</a>
        </div>
      </div>
    </div>
    </nav>
</div>