<div class="col">
  <div class="">
    <div class="">
      <h5 class="">Algunas de las tecnologías que manejo</h5>
      <div class="container mt-3">
        <div class="row justify-items-center mb-3">
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/921/921594.png" alt="iconoHtml" width="40" />
            <span [innerText]="tecnologiaList[0]?.nombreTecnologia"></span>
          </div>
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/919/919854.png" alt="" width="40" />
            <span>{{ tecnologiaList[1]?.nombreTecnologia }}</span>
          </div>
        </div>
        <div class="row justify-items-center mb-3">
          <div class="col">
            <img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_angular_icon_130754.png" alt="" width="40" />
            <span>{{ tecnologiaList[2]?.nombreTecnologia }}</span>
          </div>
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="" width="40" />
            <span>{{ tecnologiaList[3]?.nombreTecnologia }}</span>
          </div>
        </div>
        <div class="row justify-items-center mb-3">
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="" width="40" />
            <span>{{ tecnologiaList[4]?.nombreTecnologia }}</span>
          </div>
          <div class="col">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="40" />
            <span>{{ tecnologiaList[5]?.nombreTecnologia }}</span>
          </div>
        </div>
        <div class="row justify-items-center mb-3">
          <div class="col">
            <img src="https://play-lh.googleusercontent.com/lXlvAt8-ziUKYZzLwsz1V3FuKONEiU8MM1qtvA55w9WIV59S7FzcbdoAneFYrUlyiDQ=w240-h480-rw" alt="Spring" width="40" />
            <span>{{ tecnologiaList[6]?.nombreTecnologia }}</span>
          </div>
          <div class="col"></div>
        </div>
      </div>
    </div>
  </div>
</div>
