.badge {
    display: flex;
}

.banner {
    display: flex;
    align-items: flex-end;
    background-image: url("https://w.wallhaven.cc/full/dg/wallhaven-dg3ol3.png");
    width: 100%;
    height: 20rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    background-position-y: -8.7rem;
    background-position-x: -5rem;
}

.banner img {
    justify-content: end;
    align-content: flex-end;
    height: 10rem;
    width: 10rem;
    border-radius: 100px;
    border-style: solid 0.5px gray;
}