<div class="container mt-2"> <!-- About me--> 
    <div class="banner mb-2">
        <img src="https://media.licdn.com/dms/image/D4D03AQEZLnDZxEVhXw/profile-displayphoto-shrink_200_200/0/1670358065670?e=1689811200&v=beta&t=q1yCTycq5AdYOA_2eKBlNvy0Im0EUgiPY6EAR9e9uLQ" alt="banner">
    </div>
    <div style="padding: 1rem 2rem 1rem 2rem;">
        <h3>Acerca de mi</h3>
        <p>{{acercaDeMi}}</p>
    </div>
</div>
<div class="container mt-2"> <!-- Estudios-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="">
            <div class="">
              <h5 class="">Estudios</h5>
              <div class="container mt-3" >
                <ul class="list-group ">
                  <li class="list-group-item"> 2021-2023 - <strong>Máster Especializado en Big Data and Business Analytics</strong> Aden Business School </li>
                  <li class="list-group-item">2018 - <strong>Diplomado en Marketing Digital y community manager.</strong> Universidad Nacional de Cuyo</li>
                  <li class="list-group-item"> 2008 - 2016 - <strong>Licenciatura en Comercializacion\Marketing</strong> Universidad del Aconcagua</li>
                <li class="list-group-item">2009 - 2012 - <strong>Tecnico Superior en Hoteleria</strong>  Escuela internacional de Gastronomia, Hoteleria y turismo Islas Malvinas</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="" >
            <div class="">
              <h5 class="">Algunas de las tecnologías que manejo</h5>
              <div class="container mt-3 ">
                <div class="row justify-items-center align-items-center mb-3">
                        <div class="col">
                            <img src="https://cdn-icons-png.flaticon.com/512/921/921594.png" alt="" width="40"> <span>Html-CSS</span>
                        </div>
                        <div class="col">
                            <div class="row justify-items-center ">
                                <div class="col" >
                                    <img class="img " src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="" width="40" ><span>Python</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-items-center mb-3">
                        <div class="col">
                            <img src="https://cdn-icons-png.flaticon.com/512/919/919854.png" width="40" alt=""><span>Java</span>
                        </div>
                        <div class="col"> <img src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="" width="40"><span>SQL</span></div>
                    </div>
                    <div class="row justify-items-center mb-3">
                        <div class="col"><img src="https://cdn.icon-icons.com/icons2/2107/PNG/512/file_type_angular_icon_130754.png" width="40" alt=""><span>Angular</span></div>

                        <div class="col"> <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" width="40"><span>Github</span></div>
                    </div>
                  <div class="row justify-items-center mb-3">
                      <div class="col"><img src="https://blog.kakaocdn.net/dn/bAf6mg/btryEuu1sjO/Lou3J6klpVK4ewTEKnwawk/img.png" width="40" alt="Spring logo"><span>Spring</span></div>

                      <div class="col"> <img src="" alt="" width="40"><span></span></div>
                  </div>

                </div>


              </div>
              
            </div>
          </div>
        </div>    
</div>

