<div class="container mt-2"> <!-- About me--> 
    <div class="banner mb-2">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="banner">
    </div>
    <div style="padding: 1rem 2rem 1rem 2rem;">
        <h3>Acerca de mi</h3>
        <p>{{miPersona?.sobreMi}}</p>
    </div>
</div>
<div class="container mt-2"> <!-- Estudios-->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        
        <app-estudios></app-estudios>
        <app-tecnologia></app-tecnologia>
        
        </div>
        
</div>

