 <!-- Experiencia Laboral--> 
 <div class="container mt-3">
    <h4>{{titleExperienciaLaboral}}</h4>
    <!-- Acordion  Experiencia Laboral  -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    CICUNC - dic. 2021 - actualidad · 1 año 2 meses
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p> {{experienciaCicunc}}</p>
                    </div>
                </div>
                </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Lafarmen - jun. 2020 - actualidad · 2 años 7 meses
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <p>{{experienciaLafarmen}}
                </p>
                </div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Marketing - Autónomo - jun. 2020 · 10 meses
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Provincia de Mendoza, ArgentinaProvincia de Mendoza, Argentina
                    Publicidad: Facebook Ads y AdWords 
                    Community Managment : Facebook, Messenger Chatbot 
                </div>
            </div>
            </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Lafarmen - 7 años 8 meses
                    </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>    
                                Analista de Marketing
                                Jornada completaJornada completa
                                nov. 2016 - ago. 2019 · 2 años 10 mesesnov. 2016 - ago. 2019 · 2 años 10 meses
                                Provincia de Mendoza, ArgentinaProvincia de Mendoza, Argentina
                                Pronóstico de ventas, análisis de rotación y estacionalidad de los productos. Búsqueda de insights para la propuesta de nuevos productos. Clasificación y análisis de la cartera de clientes. Preparación y presentación de stand institucional. Informatización de procesos para gestión de control.Pronóstico de ventas, análisis de rotación y estacionalidad de los productos. Búsqueda de insights para la propuesta de nuevos productos. Clasificación y análisis de la cartera de clientes. Preparación y presentación de stand institucional. Informatización de procesos para gestión de control.
                                Aptitudes: Capacidad de análisisAptitudes: Capacidad de análisis
                            </li>
                            <li>
                                Analista de productoAnalista de producto
                                Jornada completaJornada completa
                                ene. 2015 - oct. 2016 · 1 año 10 mesesene. 2015 - oct. 2016 · 1 año 10 meses
                                Establecer políticas para diagramar volúmenes de producción en base a pronósticos de ventas, y definir las necesidades de materias primas, evitando inmovilizar capital. Evaluar circuitos productivos para determinar si puede reducirse el tiempo de los mismos. Desarrollar productos nuevos y realizar la presentaciones en el organismo correspondiente. Programación de la producción en función del pronóstico de ventas. Análisis de compras con orientación a justo a tiempo.Establecer políticas para diagramar volúmenes de producción en base a pronósticos de ventas, y definir las necesidades de materias primas, evitando inmovilizar capital. Evaluar circuitos productivos para determinar si puede reducirse el tiempo de los mismos. Desarrollar productos nuevos y realizar la presentaciones en el organismo correspondiente. Programación de la producción en función del pronóstico de ventas. Análisis de compras con orientación a justo a tiempo.
                                Aptitudes: Gestión de proyectos · Capacidad de análisis
                            </li>
                            <li>
                                Responsable de SistemasResponsable de Sistemas
                                ene. 2012 - dic. 2014 · 3 añosene. 2012 - dic. 2014 · 3 años
                                Mantener en funcionamiento la red local de la empresa, Administrar un servidor para clientes remotos en sucursales en Mendoza y Buenos Aires. Monitorear el correcto funcionamiento del sistema operativo base de nuestro servidor en sistema ubuntu. Servicio técnico interno.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>