
<div class="container seccion mt-3 mb-5">
    <div class="seccionExperienciaLaboral">
        <h2>Experiencia Laboral</h2>
    </div>
        <div class="row">
            <div class="col">
                <ul class="experiencias list-group">
                    <li *ngFor="let experiencia of experiencias" class="list-group loopLi">
                        <button class="btn btn-dark d-grid gap-2 col-6 mx-auto">
                            <a routerLink="/details/{{experiencia.id}}">
                                <div class="container">
                                    <h4>{{experiencia.empresa}} - <span>{{experiencia.posicion}}</span></h4>
                                    <p class="detalles"><span>{{experiencia.fechaInicio}}</span>-<span>{{experiencia.fechaFin}}</span></p>
                                </div>
                            </a>
                        </button>
                        </li>
                </ul>
            </div>
        </div>
</div>